@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Book.woff") format("woff");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
  }

  body {
    @apply w-full;
  }

  ::selection {
    @apply bg-[#099078]
  }
}